@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lobster&display=swap');

* {
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #fff;
}

.header {
    text-align: center;
    background-color: #BAC6AD;
    color: #0F7C4F;
    font-size: 30px;
    letter-spacing: 0.6;
    padding: 15px;
}

.container {
    background-color: #0F7C4F;
    height: 100%;
}

.display_score {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;


}

.playerName {

    letter-spacing: 1.2;
    font-size: 20px;
    height: 40px;
    padding: 5px;
}

input {
    width: 100px;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #BAC6AD;
}

.player {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.computer {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.display_message {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100px;
    font-size: 28px;
    text-transform: capitalize;
    padding-top: 20px;
    margin-bottom: 30px;
}

.display_meassage_container {

    width: 50%;
    padding-top: 10px;
    background-color: #7ec4a9;
    border-radius: 25px;
}

button,
img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

button {
    border: none;
    margin-right: 20px;
}

button:last-child {
    margin-right: 0;
}

button:hover,
button:active {
    cursor: pointer;
    opacity: 0.5;
}

.game_icons {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.moves_container {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}